GitPython
Pillow>=9.5.0
accelerate
bitsandbytes==0.45.3
blendmodes
clean-fid
diskcache
einops
facexlib
fastapi==0.104.1
gradio==4.40.0
httpcore==0.15
inflection
insightface>=0.7.3,
joblib>=1.5.2
jsonmerge
kornia
lark
ngrok>=1.4.0
numpy
omegaconf
open-clip-torch
piexif
protobuf
psutil
pytorch_lightning
resize-right
safetensors
scikit-image>=0.21.0
sentencepiece>=0.2.1
spandrel==0.3.4
spandrel-extra-arches==0.1.1
tomesd
torch
torchdiffeq
torchsde
transformers==4.46.1
httpx==0.24.1
pillow-avif-plugin==1.4.3
diffusers==0.31.0
gradio_rangeslider==0.0.6
gradio_imageslider==0.0.20
loadimg
tqdm
peft
pydantic==2.8.2
pydantic-core
huggingface-hub
